In [13]:
import pandas as pd
import os

In [14]:
df = pd.read_csv('csv/top-1m.csv', index_col=0)
df.reset_index(drop=True, inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999999 entries, 0 to 999998
Data columns (total 1 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   google.com  999999 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [16]:
df.columns = ["Domains"]
df.head()

                Domains
0           netflix.com
1        www.google.com
2       ftl.netflix.com
3         microsoft.com
4  prod.ftl.netflix.com

In [17]:
def parser(url):
    url_obj = {
        'scheme': 'http://', 
        'netloc': 'www.'
    }
    if url.startswith(url_obj['scheme'] + url_obj['netloc']):
        return url[len((url_obj['scheme'] + url_obj['netloc'])):] 
    elif url.startswith(url_obj['scheme']):
        return url[len(url_obj['scheme']):]

    elif url.startswith(url_obj['netloc']):
        return url[len(url_obj['netloc']):]
    else:
        return url

assert parser('http://www.google.com') == 'google.com'
assert parser('http://google.com') == 'google.com'
assert parser('www.google.com') == 'google.com' 
assert parser('google.com') == 'google.com'

In [18]:
df['Domains'] = df['Domains'].apply(parser)

In [19]:
df['Urls'] = df['Domains']
df['Urls'] = df['Urls'].apply(lambda val: 'http://www.' + val)

In [20]:
df.drop_duplicates(keep='first', inplace=True)
print(f'Duplicates: {df.duplicated().sum()}')

Duplicates: 0

In [21]:
df.head()

                Domains                             Urls
0           netflix.com           http://www.netflix.com
1            google.com            http://www.google.com
2       ftl.netflix.com       http://www.ftl.netflix.com
3         microsoft.com         http://www.microsoft.com
4  prod.ftl.netflix.com  http://www.prod.ftl.netflix.com

In [22]:
# # Writing the domains json
# filepath = os.path.join(os.getcwd(), 'utils/top1msites_domains.json')
# df['Domains'].to_json(filepath, orient="records", indent=4)

In [23]:
# filepath = os.path.join(os.getcwd(), 'utils/top1msites_urls.json')
# df['Urls'].to_json(filepath, orient="records", indent=4)